# Node/Pnpm-Zeug
node_modules
.pnpm
.pnpm-store
dist
build
.cache
.next
out
.nyc_output

# Editor-Zeug
*.log
*.swp
*.swo
.vscode
.idea
*.code-workspace

# Tests
coverage
playwright-report
test-results
*.test.ts
tests

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
